.movie_card {
  text-align: center;
  margin: 1rem 1.2rem;
}

.movie_title {
  font-weight: 600;
  margin-bottom: 2rem;
  min-height: 3.5rem;
}

.movie_img {
  object-fit: cover;
  border-radius: 20px;
  transition: all .8s ease-in-out;
}

.movie_rating {
  font-size: 0.9rem;
  text-align: left;
  color: #a6a6a6;
  padding-top: 1rem;
  padding-left: 2rem;
}

@media (hover: hover) and (pointer: fine) {
  .movie_img:hover {
    transform: scale(1.25);
    opacity: 0.5;
  }
}

@media (max-width: 700px) {
  .movie_card {
    padding: 1rem 2.5rem;
  }
}